html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

#container > div {
  display: inline-block;

  height: 150px;
  width: 100px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;

  background-color: #eeeff2;
  padding: 10px;
  border-left: 10px dotted #d0d0ff;
  margin: 10px;
}

#container > div:hover {
  background-color: yellow;
  color: goldenrod;
  cursor: pointer;
}

#last {
  position: fixed;
  bottom: 0;
  right: 0;
}