
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}


#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#container > div {
  height: 100px;
  width: 100px;

  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-top-width: 1px;
  border-top-style: solid;
  border-color: #687291;
}

.even {
  background-color: #dfe1e7;
}

.odd {
  background-color: #eeeff2;
}

#container > #last {
  background-color: #687291;
  border: 4px solid black;
}
